body{
    background: peru;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}   

.move-icon{
    height: 100px;
    
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.move-button{
    background-color: rgb(135, 80, 26);
    border: 3px solid white;
    width: 130px;
    height: 130px;
    border-radius: 80px;
    margin: 10px;
    cursor: pointer;
    
}

.js-result{
    display: flex;
    justify-content: center;
    align-items: center;
}

.js-score{
    display: flex;
    justify-content: center;
    align-items: center;
}

.result{
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.reset{
    display: flex;
    justify-content: center;
}

.score{
    margin-top: 60px;
}

.reset-button{
    background-color: white;
    border: none;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    
}
